.header-pink {

    color: #b85d77;
    font-size: 1em;
    font-weight: 400;
}

.main-pink {

    color: #b85d77;
    font-weight: 600;
}

.header-main {
    color: #000;
    font-size: 1.875em;
    font-weight: 400;
}

.header-main-pink {
    color: #b85d77;
    font-size: 1.875em;
    font-weight: 600;
}

.main-pink-light {

    color: #b85d77;
    font-weight: 300;
}

.header-green {
    color: #779028;
    font-size: 1.875em;
    font-weight: 600;
}

.p-style {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}
.slider-style
{
    color: #ededed
}
.p-contact {
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

.text-left {
    text-align: left;
}

.p-rel {
    position: relative;
}
.text-left {
    text-align: left;
}


.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.weight-light {
    font-weight: 300;
}
.text-36px
{
    font-size: 2.25em;
}
.text-24px
{
    font-size: 1.25em;
}
.text-18px {
    font-size: 18px;
}

.text-16px {
    font-size: 16px;
}

.underline-left:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 24%;
    border-bottom: 1px solid #b85d77;

}

.underline-center:after {
    content: "";
    position: absolute;
    left: 44%;
    bottom: -10px;
    width: 12%;
    border-bottom: 1px solid #b85d77;

}

/* ----------------------------  underline-pink gallery------------------ */
.galley-underline:after {
    content: "";
    position: absolute;
    left: 0%;
    top: -23px;
    width: 166%;
    border-bottom: 1px solid #b85d77;
}

.w60{
    width:60px;
}
.w80{
    width:80px;
}
.w120{
    width:120px;
}
.h45{
    height:45px;
}

.h44{
    height:44px;
}
