/* ------------------------- MIN -------------------------------*/

@media (min-width: 0px) {
    .banner-container {
        padding-bottom: 30px;
    }

    .btn-transparent, .btn-transparent:focus {
        padding: 5px 10px;
        font-size: 12px;
    }

    .banner-description1 {

        font-size: 1.5em;
    }

    .banner-description2 {
        margin: 3% 0 3% 0;
        font-size: 1em;
    }
    .subsite-banner-container{
        padding-bottom: 0;
    }
    .subsite-indicators{
        bottom: 0;
        margin-bottom: 0;
    }
    .subsite-banner-description1{
        font-size: 0.6em;
        margin-bottom: 0;
    }
    .subsite-banner-description2{
        font-size: 0.5em;
        margin-bottom: 0;
    }
    .btn-sub-transparent{
        padding: 5px 8px;
        font-size: 8px;

    }
}

@media (min-width: 769px) {
    section#news .news-left-box{
        padding-right: 50px;
    }
    section#news .news-right-box{
        padding-left: 50px;
    }
    header .left-menu li a, header .right-menu li a {
        padding: 10px 20px;
        margin: 0 2em;
    }

    header .left-menu li:first-child a {
        margin-left: 0px;
    }



    header .right-menu li:last-child a img {
        position: absolute;
        top: -35px;
        left: 36%;
    }

    header .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    header .navbar .img-middle-href {
        height: 75px;
    }

    header .navbar .navbar-collapse {
        text-align: center;
        margin-top: 45px;
        padding: 0px;
    }

    .banner-container {
        padding-bottom: 50px;
    }

    .btn-transparent, .btn-transparent:focus {
        padding: 8px 13px;
        font-size: 14px;
    }

    .banner-description1 {

        font-size: 2.25em;
    }
    .subsite-banner-container{
        padding-bottom: 0;
    }
    .subsite-indicators{
        bottom: 0;
        margin-bottom: 0;
    }
    .subsite-banner-description1{
        font-size: 0.85em;
        margin-bottom: 0;
    }
    .subsite-banner-description2{
        font-size: 0.7em;
        margin-bottom: 0;
    }
    .btn-sub-transparent{
        padding: 5px 8px;
        font-size: 8px;

    }
}

@media (min-width: 991px) {
    .banner-container {
        padding-bottom: 60px;
    }

    .btn-transparent, .btn-transparent:focus {
        padding: 10px 15px;
        font-size: 18px;
    }
    .subsite-banner-container{
        padding-bottom: 0;
    }
    .subsite-indicators{
        bottom: 0;
        margin-bottom: 0;
    }
    .subsite-banner-description1{
        font-size: 0.9em;
    }
    .subsite-banner-description2{
        font-size: 0.8em;
        margin-bottom: 0;
    }
    .btn-sub-transparent{
        padding: 6px 10px;
        font-size: 9px;

    }
}

@media (min-width: 1201px) {
    .banner-container {
        padding-bottom: 110px;
    }

    .btn-transparent, .btn-transparent:focus {
        padding: 10px 15px;
        font-size: 24px;
    }

    .banner-description2 {
        margin: 35px 0 9% 0;
    }
    .subsite-banner-container{
        padding-bottom: 0;
    }
    .subsite-indicators{
        bottom: 0;
        margin-bottom: 0;
    }
    .subsite-banner-description1{
        font-size: 1.125em;
    }
    .subsite-banner-description2{
        font-size: 1em;
    }
    .btn-sub-transparent{
        padding: 9px 15px;
        font-size: 12px;

    }
}

/* ------------------------- MAX -------------------------------*/

@media (max-width: 1200px) {
    section#menu-bottom .hidden-md {
        display: none !important;
    }

    header .left-menu li a, header .right-menu li a {
        margin: 0 0.5em;
    }
}

@media (max-width: 990px) {
    section#menu-bottom .hidden-md {
        display: none !important;
    }

    header .left-menu li a, header .right-menu li a {
        margin: 0em;
        padding: 5px 9px;
    }
    div.outline-white:before {
        right: 20%;
        left: 20%;
    }
    section#gallery-site .without-margin{
        margin-top:30px;
    }

}

@media (max-width: 768px) {
    .pl-0-hidden-xs {
        padding-left: 15px !important;
    }

    .navbar-brand {
        padding-top: 0px;
    }

    header .navbar-nav.left-menu {
        margin-bottom: 0px;
    }

    header .navbar-nav.right-menu {
        float: left !important;
        margin-top: 0px;
    }

    header .navbar-nav {
        width: 100%;
    }

    section#news .container {
        background: none;
    }

    section#gallery .thumbnail {
        max-width: 100%;

        margin: 0;
    }

    section#about .container, section#offer .container {
        padding: 15px 50px;
    }

    .knowledge_content .img-xs-margin {
        margin-top: 20px;
    }
}