/* ----------------------------------MARGIN VERTICAL -  TOP BOTTOM----------------- */
.mv-10{
    margin:10px 0px;
}

/* ----------------------------------MARGIN TOP----------------- */
.mt-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-35 {
    margin-top: 35px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-0 {
    margin-top: 0;
}

/*------------------------------- MARGIN BOTTOM---------------------*/
.mb-100 {
    margin-bottom: 100px;
}
.mb-80
{
    margin-bottom: 80px;
}
.mb-70
{
    margin-bottom: 70px;
}
.mb-60 {
    margin-bottom: 60px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-0 {
    margin-bottom: 0;
}

/*----------------------------------- MARGIN LEFT ---------------*/
.ml-100 {
    margin-left: 100px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-10 {
    margin-left: 10px;
}

/*------------------------------------ MARGIN RIGHT -------------*/
.mr-100 {
    margin-right: 100px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.mr--75 {
    margin-right: -75px;
}

/*-------------------------------------PADDING TOP---------------------------*/
.pt-50 {
    padding-top: 50px;
}
.pt-40
{
    padding-top: 40px;
}
.pt-30 {
    padding-top: 30px;
}

.pt-10 {
    padding-top: 10px;
}

/*-------------------------------------PADDING BOTTOM ------------------------*/
.pb-110
{
    padding-bottom: 110px;
}
.pb-50
{
    padding-bottom: 50px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-30 {
    padding-bottom: 30px;
}

.pb-10 {
    padding-bottom: 10px;
}

/*------------------------------------ PADDING RIGHT ------------------------*/
.pr-60 {
    padding-right: 60px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-25 {
    padding-right: 25px;
}

/*----------------------------------------PADDING LEFT--------------------------*/
.pl-50 {
    padding-left: 50px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-0 {
    padding-left: 0;
}

/*--------------------------------------padding 0 -------------------------------*/
.p-0 {
    padding: 0 !important;
}


