body {
    /*  font-family: 'Source Sans Pro', sans-serif;*/
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;


}

/* ------------------------------------------------ HEADER MAIN -----------------------------------*/
header {
    background: #fff;
}

header .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background: #779028;

}

header .img-menu-main {
    width: 120px;
    position: relative;
    top: -30px;
}


#custom-search-input .search-query {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc !important;

    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0;
    padding: 0 15px 0 3px;
    height: 22px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: -2px;
    position: relative;
    left: -18px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555;
    font-size: 10px;
    z-index: 10;
}

.search-query:focus + button {
    z-index: 3;
}

header #top_menu {
    vertical-align: middle;
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;

}

header #top_menu a {
    color: #4c4c4c;
    display: inline-block;
    font-weight: 300;
    font-style: italic;
    vertical-align: middle;
}

header #top_menu #fb_ico {
    margin-left: 10px;
}

header #top_menu #header_email, header #top_menu #header_phone {
    margin-right: 5px;
    margin-bottom: 2px;
}

header #top_menu #email_ico, header #top_menu #phone_ico {
    margin-left: 30px;
}

header #top_menu span {
    vertical-align: middle;
    margin-left: 5px;
}

header #top_menu .contact {
    margin-right: 15px;
}

header .login {
    margin-right: 15px;
}
header .navbar-default {
    background: #fff;
    border: none;

}

.navbar {
    position: relative;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important; /* 50% of your logo width */
    display: block;
}

/*header .navbar  ul.nav li{*/
/*width: auto;*/
/*}*/
/*header .navbar  ul.nav li a{*/
/*padding: 28px 20% 23px 20%;*/
/*}*/

header .navbar-fixed-top {
    -webkit-box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.1);

}

header .navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 300;

}

header .navbar-brand {
    height: 100%;
}

.carousel-indicators li {
    display: inline-block;
    width: 38px;
    height: 7px;
    margin: 1px 10px;
    text-indent: -999px;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #ededed;
}

.carousel-indicators .active {
    margin: 1px;
    width: 38px;
    height: 7px;
    background-color: #ededed;
    border: none;
}

/* ------------------------------------------------ SECTION ABOUT -----------------------------------*/
section#about {
    background: #EDEDED;
    text-align: center;

}

section#about .container {
    padding: 60px 130px;
}

/* ------------------------------------------------ KNOWLEADGE -----------------------------------*/
section#knowledge .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ------------------------------------------------ GALLERY -----------------------------------*/

section#gallery {
    background: #EDEDED;
    text-align: center;

}

section#gallery .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

section#gallery .btn-green {
    background: #779028;
    border-color: #779028;
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 3% 0;
    margin-top: 15px;
}

section#gallery .btn-green:hover {
    color: #fff;
    text-decoration: none;
    background-color: #96b532;
    border-color: #779028;
}

section#gallery .btn-green:focus {
    color: #fff;
    text-decoration: none;
}

section#gallery .thumbnail {
    max-width: 31%;
    margin: 1.7%;
    padding: 3%;
}

section#gallery .thumbnail:first-child {
    margin-left: 0;
}

section#gallery .thumbnail:last-child {
    margin-right: 0;
}

section#gallery .thumbnail img {
    width: 100%;
}

section#gallery .thumbnail .description {
    padding: 25px 0 0 0;
    border-top: 1px solid #c7254e;
    margin-top: 25px;
}

section#gallery .g-content {
    font-size: 13px;
    padding-right: 0;
    padding-left: 1px;
    padding-top: 45px;
}

/* ------------------------------------------------ OFFER -----------------------------------*/
section#offer .container {
    padding: 50px 170px;

    text-align: center;
}

/* ------------------------------------------------ NEWS -----------------------------------*/
section#news {
    background-image: url(../img/news_background.png);
    background-size: auto 101%;
    #background-position: top left;
    background-position: 45% 30%;
}

section#news .container {
    background: url('../img/whiteline.png') repeat-y center top;
    background-size: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -----------------------------------------------  SEARCH BOX NEWS -------------------------------------*/

section#news .news-box {
    height: 44px;
    padding: 0 20px;
    border: #ededed;
    width: 65%;
}

/* -----------------------------------------------  MENU BOTTOM -------------------------------------*/


section#menu-bottom .container {
    padding-top: 50px;
}

section#menu-bottom img {
    display: block;
    margin: auto;
    width: 8%;
}

section#menu-bottom ul {
    display: flex;
    list-style: none;
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
section#menu-bottom ul li{
    padding:0 25px;
}
section#menu-bottom ul > li > a {
    color: #626262;
}

section#menu-bottom ul > li > a:hover {
    text-decoration: none;
    color: #000;
}

/* ---------------------------------------------------------------  FOOTER -------------------------------------*/
section#footer {
    background: #626262;
}

section#footer .container {
    color: #b5b3b3;
    font-weight: 300;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*--------------------------------------------------------- GREEN BUTTON -------------------------------------------*/
.btn-green {
    background: #779028;
    border-color: #779028;
    color: #ededed;
    border-radius: 0;
    font-size: 16px;
    padding: 10px 15px;
}

.btn-green:hover {
    color: #fff;
    text-decoration: none;
    background-color: #96b532;
    border-color: #779028;
}

.btn-green:focus {
    color: #fff;
    text-decoration: none;
}

/* -------------------------------------------------- PINK BUTTON --------------------------------------------------*/
.btn-pink, .btn-pink:focus {
    background: transparent;
    border-color: transparent;
    color: #c7254e;
    border-radius: 0;
    font-size: 13px;

}

.btn-pink:hover {
    background: transparent;
    border-color: transparent;
    color: #f2154c;
    border-radius: 0;
    font-size: 13px;
}

/* -------------------------------------------------- TRANSPARENT BUTTON --------------------------------------------*/
.btn-transparent, .btn-transparent:focus {
    background: transparent;
    border-color: #ededed;
    color: #ededed;
    font-weight: 600;
    border-radius: 0;
    font-size: 24px;
    padding: 10px 15px;

}

.btn-transparent:hover {
    background: #transparent;
    font-weight: 600;
    border-radius: 0;
    color: #fff;
}

/* -------------------------------------------------- SUBSITE-TRANSPARENT BUTTON --------------------------------------*/
.btn-sub-transparent, .btn-transparent:focus {
    background: transparent;
    border-color: #ededed;
    color: #ededed;
    font-weight: 600;
    border-radius: 0;
    font-size: 12px;
    padding: 10px 15px;

}

.btn-sub-transparent:hover {
    background: #transparent;
    font-weight: 600;
    border-radius: 0;
    color: #fff;
}

/*----------------------------------------------- WHITE LINE IN IMAGE ------------------------------------------------*/
div.outline-white {
    display: inline-block;
    position: relative;
}

div.outline-white:before {
    display: block;
    content: '';
    position: absolute;
    top: 10%;
    right: 15%;
    bottom: 15%;
    left: 15%;
    border: 2px solid white;
    z-index: 11;
    opacity: 0.8;

}

.shadow_ack {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    top: -10px;
    position: relative;
}
/*----------------------------------------------SHARED ------------------------------------------------------------------------*/

.bord-rad-0{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*----------------------------------------------------------------------------------------------------------------------
--------------------------------------  PODSTRONY --------------------------------------------------------------------*/

/*------------------------------------------------------- CONTACT ----------------------------------------------*/
section#contact .container {
    padding-top: 70px;
    padding-bottom: 100px;
}

/*------------------------------------------------------- PRODUCT----------------------------------------------*/
section#product .container {
    padding-top: 50px;
    padding-bottom: 100px;
}

section#product th {
    padding-top: 5px;
    padding-bottom: 5px;
}

section#product td {
    width: 50%;
    font-weight: 300;
}

section#product a:hover {
    color: #fc6c6c;
    text-decoration: none;
}

section#product a:not([type="button"]):focus {
    color: #fc6c6c;
    text-decoration: none;
}

section#product .btn-green {
    background: #779028;
    border-color: #779028;
    color: #fff;
    border-radius: 0;
    font-size: 24px;
    padding: 3% 6%;
}

section#product .btn-green:hover {
    color: #fff;
    text-decoration: none;
    background-color: #96b532;
    border-color: #779028;
}

/*------------------------------------------------------- GALLERY-SUBSITE----------------------------------------------*/
section#gallery-site .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

section#gallery-site .row div:not(.without-margin) {
    margin-bottom: 32px;
    text-align: center;
}

section#gallery-site .row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

section#gallery-site .btn-green {
    background: #779028;
    border-color: #779028;
    color: #ffffff;
    font-weight: 400;
    border-radius: 0;
    font-size: 1.25em;
    width: 100%;
    display: block;
}

section#gallery-site .btn-green:hover {
    color: #fff;
    text-decoration: none;
    background-color: #96b532;
    border-color: #779028;
}

section#gallery-site .btn-green:focus {
    color: #fff;
    text-decoration: none;
}
section#gallery-site a:hover {
    color: #fc6c6c;
    text-decoration: none;
}
section#gallery-site .img-interaction span{
    position: absolute;
    top: 42%;
    left: 20%;
    height: 25%;
    width: 60%;
    font-size: 1.250em;
    font-weight: 600;
    color: #fff;
}
section#gallery-site .img-main span{
    position: absolute;
    top: 42%;
    left: 20%;
    height: 25%;
    width: 60%;
    font-size: 2.25em;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
